<h2>Articles</h2>

{{#each article}}
  <div class="article">
    <h3>Title: {{title}}</h3>
    <h3>Body: {{body}}</h3>
    <h3>Author: {{author}}</h3>
    <h3>UrlTitle: {{urlTitle}}</h3>
</div>
{{/each}}