<form method="POST" action="/articles/new">
  Title
  <input type="text" name="title">
  Body
  <input type="text" name="body">
  Author
  <input type="text" name="author">
{{!--   UrlTitle
  <input type="text" name="urltitle"> --}}
  <input type="hidden" name="_method" value="POST">
  <button type="submit">Submit</button>
</form>