<form method="POST" action="/products/new">
  Name
  <input type="text" name="name">
  Price
  <input type="text" name="price">
  Inventory
  <input type="text" name="inventory">
  <input type="hidden" name="_method" value="POST">
  <button type="submit">Submit</button>
</form>